{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {ex01_rime_intro, "0.1.0"},
         [ex01_rime_intro,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["lib/rime_intro/src/*.erl","lib/rime_intro/test/*.erl"]},
    {formatter, default_formatter},
    {options, #{ribbon=>80 }}   
]}.