{erl_opts, [debug_info]}.
{deps, [
  {eunit_helper, "0.0.1"}
]}.

{relx, [{release, {ex01_rime_intro, "0.1.0"},
         [ex01_rime_intro,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            },
			{test, [{eunit_opts, 
			              [verbose
						  %%,{report, {eunit_progress, [colored, profile]}}
			              %%,{report,{eunit_surefire,[{dir,"."}]}}
						  ]}]}
			]
}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["lib/lib_01_rime_intro/test/*.erl",
	         "lib/lib_02_simple_pattern_matching/test/*.erl",
			 "lib/lib_03_posix_notation/test/*.erl",
			 "lib/lib_04_maching_any_character/test/*.erl",
			 "lib/lib_05_setup_application/test/*.erl"
	]},
    {formatter, default_formatter},
    {options, #{ribbon=>80 }}   
]}.

